.Notes {
  overflow: auto;

  & > div {
    vertical-align: top;
  }
}

.card {
  margin: 8px;
  display: inline-block;
  min-width: 10rem;
  min-height: 2.5rem;
  max-width: 20rem;
  background: #fff;
  border-radius: 8px;
  padding: 8px 12px;

  cursor: pointer;

  pre {
    margin: 0;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    overflow-wrap: break-all;
    white-space: pre-wrap;
  }

  .time {
    font-size: 0.8rem;
    opacity: 0.8;
  }
}

.Note {
  max-width: 80vw;

  pre {
    margin: 0;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    overflow: auto;
    overflow-wrap: break-word;
    white-space: pre-wrap;
  }

  .time {
    font-size: 0.8rem;
    opacity: 0.8;
  }

  .separator {
    margin: 8px 0;
    border-top: solid 1px #ccc;
  }
}

.Message {
  margin: 4px 0;

  & > header {
    .time {
      padding-left: 8px;
      font-size: 0.8rem;
      opacity: 0.8;
    }
  }

  pre {
    margin: 0;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
}

.messageForm {
  margin: 8px;
  width: 20rem;
  padding: 8px;
  border-radius: 8px;
  border: solid 1px #ccc;
  outline: none;
}
